{% extends 'admin-header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>

      <div id="wrapper" class="homepage-1"> <!-- wrapper -->
          <br>
          <br>
          <br>
          <br>
          <br>

          
          <div id="content"> <!-- Content -->
              <div class="page-title">
                  <div class="container">
                      <div class="page-title-inner" align="center">
                          <h1>Change Password</h1>
                          <div class="breadcumb"> <a href="{% url 'admin-index' %}">Home</a><span> / </span><span>Change Password</span></div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
              
              <div class="about-page">
                  <div class="container">
                      <div class="row">
                          
                          
                          <div class="col-md-6 ct-form">
                              
                              {% if msg %}
                              <b style="color: blue;">{{msg}}</b>
                              {% endif %}
                              <form class="contact-form" action="{% url 'change-password' %}" method="post">
                                {% csrf_token %}
                                  
                                   <div class="form-group">
                                      <label for="cf_subject"><h4>Old Password</h4></label>
                                      <input type="password" class="form-control" name="old_password" id="cf_subject" placeholder="password">
                                  </div>

                                   <div class="form-group">
                                      <label for="cf_subject"><h4>New Password</h4></label>
                                      <input type="password" class="form-control" name="new_password" id="cf_subject" placeholder="New Password">
                                  </div>

                                   <div class="form-group">
                                      <label for="cf_subject"><h4>Confirm New Password</h4></label>
                                      <input type="password" class="form-control" name="cnew_password" id="cf_subject" placeholder="Confirm New Password">
                                  </div>
                                  
                                  <br>
                                  
                                  <button type="submit" class="btn btn-primary">Change Password</button>
                                  <br>
                                  <br>

                                  

                                 
                              </form>
                          </div>
                      </div>
                      
                      
                  </div>
              </div>

          </div> <!-- Content -->
          
      </div> <!-- wrapper -->

     </body>
</html>
{% endblock %}