{% extends 'admin-header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <h1>Create Order</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{% url 'create-order' %}">
        {% csrf_token %}
        <div class="due_am">
            {% if due_amount %}
                <p>Due Amount: ₹{{ due_amount }}</p>
            {% else %}
                <p>No due amount available.</p>
            {% endif %}
        </div>
        <label for="amount">Amount:</label>
        <input type="number" name="amount" min="1" required>
        <button type="submit">Create Order</button>
    </form>
</body>
</html>
{% endblock %}