{% extends 'admin-header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discussion Board</title>
</head>
<body>
    <br>
    <br>
    <br>
    <h1>Discussions</h1>
    
    {% if msg %}
        <b style="color:blue;">{{ msg }}</b>
    {% endif %}

    <h2>Create a New Discussion</h2>
    <form method="POST" action="{% url 'DiscussionList' %}">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" required>
    <textarea name="content" placeholder="Content" required></textarea>
    <input type="datetime-local" name="created_at" required>
    <input type="text" name="author" placeholder="Author" required>
    <button type="submit">Submit</button>
</form>

    <h3>Current Discussions:</h3>
    {% for i in discussions %}
        <div>
            
            <h4><a href="{% url 'discussion-detail' i.id %}">{{ i.title }}</a></h4>
              <p>{{ i.content }}</p>
            <p>Posted by: {{ i.author }} on {{ i.created_at }}</p>
        </div>
    {% empty %}
        <p>No discussions yet.</p>
    {% endfor %}
</body>
</html>
{% endblock %}