{% extends 'member-header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Success</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    {% if msg %}
    <b style="color": blue;>{{msg}}</b>
    {% endif %}
    <form method="POST" action="{% url 'payment_success' %}">
        {% csrf_token %}
    <h1>Payment Successful!</h1>
    <p>Thank you for your payment.</p>
    </form>
</body>
</html>
{% endblock %}