<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ discussion.title }}</title>
</head>
<body>

{% if msg %}
    <p>{{ msg }}</p>
{% endif %}

<h1>{{ discussion.title }}</h1>
<p>{{ discussion.content }}</p>
<p>Posted by: {{ discussion.author }} on {{ discussion.created_at }}</p>    

<h3>Comments:</h3>
{% if comments %}
    {% for comment in comments %}
        <div>
           <p>{{ comment.content }} - <strong>{{ comment.author }}</strong></p>
           
        </div>
    {% endfor %}
{% else %}
    <p>No comments yet.</p>
{% endif %}

<!-- Form for Adding a Comment -->
<h2>Add Comment</h2>
<form method="POST" action="{% url 'comm-insert' discussion.id %}"> <!-- Use discussion.id -->
    {% csrf_token %}
    <label for="content">Comment:</label>
    <textarea id="content" name="content" required></textarea>
    <br>
    <label for="author">Created at:</label>
    <input type="datetime-local" id="created_at" name="created_at" required>
    <br>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>
    <br>
    <button type="submit">Create Comment</button>
    
    
</form>

</body>
</html>