
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ discussion.title }}</title>
</head>
<body>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}

    <!-- Form for Adding a Discussion -->
    <h2>Add Discussion</h2>
    <form method="POST" action="{% url 'disc-insert' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Discussion Topic</td>
                <td><input type="text" name="title" required></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><input type="text" name="content" required></td>
            </tr>
            <tr>
                <td>
                    <input type="datetime-local" name="created_at" required>
    
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="author" placeholder="Author" required>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Add Discussion</button></td>
            </tr>
        </table>
    </form>

    <form method="POST" action="{% url 'disc-insert' %}">
                {% csrf_token %}
                <table>
                {% for i in discussions %}
                   <tr> <td>Title:{{ i.title }}</td></tr>
                    <tr><td>Content:{{ i.content }}</td></tr>
                    <tr><td>Created at:{{ i.created_at }}</td></tr>
                    <tr><td>Author: {{ i.author }}</td></tr>
                {% empty %}
                <h5>No Discussions</h5>
                {% endfor %}
                </table>
    </form>
    
</body>
</html>